@using Newtonsoft.Json;
@using Web2023Project.Model
@{
    @ViewBag.Title
    Layout = "~/Views/Shared/Admin/_FramesFull.cshtml";
}
@section jsFooter{
    <script>
        $('#picture').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#picture').val(url);
            };
            finder.popup();
        });
        var editor = CKEDITOR.replace('content', {
            customConfig: '/Content/assets/ckeditor/config.js'
        })
    </script>
}
}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-bar page-header">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/Admin/Index_Admin">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Danh mục</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="/Product/Product_Manage">Quản lý sản phẩm</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading  d-flex">
                        <div>
                            <i class="fa  fa-pencil-square-o fa-fw"></i>
                            Cập nhật sản phẩm
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="update" class="like-form">
                            <form id="form-validate" class="form-style"
                                  action="/Product/Product_Update" method="post">
                                <input type="hidden" name="action" value="edit">
                                <input type="hidden" name="productID" value="@Model.Id">
                                <ul class="row">
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-6">
                                            <input type="text" id="productName" name="productName"
                                                   value="@Model.TenSp">
                                            <label for="productName">Tên sản phẩm<span>*</span></label>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <input type="text" id="tenviettat" name="tenviettat"
                                                   value="@Model.Tenviettat">
                                            <label for="tenviettat" class="level-span">Tên viết tắt</label>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <select id="producer" name="producer">
                                                @{{
                                                        List<Web2023Project.Models.Nhacungcap> list = ViewBag.ListProducer;
                                                        if (list != null)
                                                        {
                                                            foreach (Web2023Project.Models.Nhacungcap prod in list)
                                                            {
                                                                if (prod.Id.Equals(@Model.IdNcc))
                                                                {
                                                                    <option value="@prod.Id"
                                                                            selected="selected">
                                                                        @prod.TenNcc
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@prod.Id">
                                                                        <div id="">@prod.TenNcc</div>
                                                                    </option>
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <label for="producer" class="level-span">
                                                Nhà cung cấp<span>*</span>
                                            </label>
                                        </div>
                                    <li class="row">
                                        <div class="col-sm-3 col-xs-6">
                                            <input type="number" id="salePrice" name="salePrice"
                                                   value="@Model.Giadagiam">
                                            <label for="salePrice">Giá đã giảm</label>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <input type="number" id="price" name="price"
                                                   value="@Model.Giagoc">
                                            <label for="price">Giá bán</label>
                                        </div>
                                        <div class="col-sm-2 col-xs-6">
                                            <input type="number" id="amount" name="amount"
                                                   value="@Model.Soluong">
                                            <label for="amount">Số lượng<span>*</span></label>
                                        </div>
                                        <div class="col-sm-2 col-xs-6">

                                            @if (Model.Hinhanhs != null && Model.Hinhanhs.Count > 0)
                                            {
                                                <input type="text" id="picture" name="picture" placeholder="Chọn ảnh..."
                                                       value="@((Model.Hinhanhs[0].Url != null) ? Model.Hinhanhs[0].Url : "")">
                                            }
                                            else
                                            {
                                                <input type="text" id="picture" name="picture" placeholder="Chọn ảnh...">
                                            }
                                            <label for="picture">Hình ảnh</label>
                                        </div>
                                        <div class="col-sm-2 col-xs-6">
                                            <select id="status" name="status">
                                                @if (Model.Trangthai == 0)
                                                {
                                                    <option value="0">Ẩn</option>
                                                    <option value="2">Hết hàng</option>
                                                    <option value="1">Mở bán</option>
                                                }
                                                else if (Model.Trangthai == 1)
                                                {
                                                    <option value="1">Mở bán</option>
                                                    <option value="2">Hết hàng</option>
                                                    <option value="0">Ẩn</option>
                                                }
                                                else
                                                {
                                                    <option value="2">Hết hàng</option>
                                                    <option value="0">Ẩn</option>
                                                    <option value="1">Mở bán</option>
                                                }
                                            </select>
                                            <label for="status" class="level-span">Trạng thái</label>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="row">
                                    <h3 class="col-sm-12"
                                        style="text-align: center;margin-bottom: 20px;color: #215862;font-weight: 600">
                                        Chi tiết sản phẩm
                                    </h3>
                                    <li class="row">
                                        <div class="col-sm-6 col-xs-6">
                                            <input type="text" id="screen" name="screen"
                                                   value="@Model.Manhinh ">
                                            <label for="screen">Màn hình</label>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <input type="text" id="operatingSystem" name="operatingSystem"
                                                   value="@Model.Hedieuhanh">
                                            <label for="operatingSystem">Hệ điều hành</label>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-6 col-xs-6">
                                            <input type="text" id="CPU" name="CPU"
                                                   value="@Model.Chip">
                                            <label for="CPU">CPU</label>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <input type="text" id="RAM" name="RAM"
                                                   value="@Model.Ram">
                                            <label for="RAM">RAM</label>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-6 col-xs-6">
                                            <input type="text" id="CAMERA" name="CAMERA"
                                                   value="@Model.Camera">
                                            <label for="CAMERA">CAMERA</label>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <input type="text" id="PIN" name="PIN"
                                                   value="@Model.Pin">
                                            <label for="pin">PIN</label>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-6 col-xs-6">
                                            <input type="text" id="color" name="color"
                                                   value="@Model.Mausanpham">
                                            <label for="Mausanpham">Màu sản phẩm</label>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <input type="text" id="memory" name="memory"
                                                   value="@Model.Dungluong">
                                            <label for="memory">Dung lượng</label>
                                        </div>
                                    </li>
                                    @*<li class="row">
                                            <div class="col-sm-6 col-xs-6">
                                                <input type="text" id="content" name="content"
                                                       value="@((Model.Mota != null) ? Model.Mota : "")">
                                                <label for="content">Mô tả</label>
                                            </div>
                                        </li>*@
                                    <li class="row">
                                        <div class="col-sm-12 col-xs-6">
                                            <textarea id="content"
                                                      name="content">@((Model.Mota != null) ? Model.Mota : "")</textarea>
                                            <label for="content" class="mg-area">Mô tả</label>
                                        </div>
                                    </li>
                                </ul>
                                <div class="btn-submit">
                                    <a href="/Product/Product_Manage" class="btn default btn-xs black go-to-back">
                                        Trở
                                        lại
                                    </a>
                                    <button type="submit" id="update-btn">
                                        <i class="fa fa-pencil-square-o fa-fw"
                                           aria-hidden="true">
                                        </i>Cập nhật
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>