
@{
    @ViewBag.Title
    Layout = "~/Views/Shared/Admin/_FramesFull.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-bar page-header">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/Admin/Index_Admin">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Danh mục</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="/Account/Account_Manage">Quản lý tài khoản</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading  d-flex">
                        <div>
                            <i class="fa  fa-user fa-fw"></i>
                            Cập nhật thông tin tài khoản
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="update" class="like-form">
                            <form class="form-style" action="/Account/Account_Update" method="post" id="form-validate">
                                <input type="hidden" name="action" value="edit">
                                <input type="hidden" name="id" value="@Model.Id">
                                <ul class="row">
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-6">
                                            <input type="text" id="email" name="email"
                                                   value="@Model.Email">
                                            <label for="email">Email<span>*</span></label>
                                        </div>
                                        <input type="hidden" id="password" name="password"
                                               value="@Model.Matkhau">
                                        <div class="col-sm-3 col-xs-6">
                                            <input type="text" id="name" name="name"
                                                   value="@Model.Ten">
                                            <label for="name">Họ tên<span>*</span></label>
                                        </div>
                                        <div class="col-sm-2 col-xs-6">
                                            <select id="gender" name="gender">
                                                @if (Model.Gioitinh == 0)
                                                {
                                                    <option value="0">Nam</option>
                                                    <option value="1">Nữ</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Nữ</option>
                                                    <option value="1">Nam</option>
                                                }
                                            </select>
                                            <label for="gender" class="level-span">Giới tính</label>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <input type="number" id="phone" name="phone" value="@Model.Sdt">
                                            <label for="phone">Điện thoại<span>*</span></label>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-2 col-xs-6">
                                            <select id="level" name="level">
                                                @if (Model.Quyen == 0)
                                                {
                                                    <option value="0">User</option>
                                                    <option value="1">Admin</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Admin</option>
                                                    <option value="0">User</option>
                                                }
                                            </select>
                                            <label for="level" class="level-span">Level</label>
                                        </div>
                                    </li>
                                </ul>
                                <div class="btn-submit">
                                    <a href="/Account/Account_Manage" class="btn default btn-xs black go-to-back">Trở lại</a>
                                    <button type="submit" id="update-btn">
                                        <i class="fa fa-pencil-square-o fa-fw"
                                           aria-hidden="true">
                                        </i>
                                        Cập nhật
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script>
        document.getElementById('form-validate').addEventListener('submit', function (e) {
            // Kiểm tra điều kiện trước khi ngăn chặn mặc định
            if (!document.getElementById('update-btn').classList.contains('disablePreventDefault')) {
                e.preventDefault();
            }
        });

        document.getElementById('update-btn').addEventListener('click', function (e) {
            console.log('Nút "Cập nhật" được nhấn!');
            // Thêm class để chỉ định rằng không nên ngăn chặn mặc định trong sự kiện submit
            this.classList.add('disablePreventDefault');
        });

    </script>*@