@model List<Web2023Project.Models.Yeuthich>

@{
    ViewBag.Title = "Sản phẩm yêu thích";

    Layout = "~/Views/Shared/Home/_HeaderHome.cshtml";

}
@{
    int count_seart = Session["count_sear"] != null ? Convert.ToInt32(Session["count_sear"]) : 0;
    string key = Session["key"] != null ? Session["key"] as string : "";
    string sort = Session["sort"] != null ? Session["sort"] as string : "";
    string pages = Session["page"] != null ? Session["page"] as string : "";
    string producers = Session["producer"] != null ? Session["producer"] as string : "";
    int countPages = Session["countPages"] != null ? Convert.ToInt32(Session["countPages"]) : 0;
    int pageCurrent = Session["pageCurrent"] != null ? Convert.ToInt32(Session["pageCurrent"]) : 1;
    int pageSize = Session["pageSize"] != null ? Convert.ToInt32(Session["pageSize"]) : 1;

}

<section id="body">
    <div id="products">
        <div class="container">
            <div id="main-products">
                <div class="product-child box-shadow hover-ab">
                    <ul class="homeproduct filter-cate " id="homeproduct">
                        @foreach (var p in Model)
                        {
                            var sp = p.IdSpNavigation;
                            <li>
                                <a href="#">
                                    @if (sp.Hinhanhs != null && sp.Hinhanhs.Count > 0)
                                    {
                                        <img src="@sp.Hinhanhs.ToList()[0].Url" alt="images" style="width:auto;">
                                    }
                                    else
                                    {
                                        <img src="https://m.media-amazon.com/images/I/71d7rfSl0wL._AC_SX466_.jpg" alt="images">
                                    }

                                    <h3>@p.IdSpNavigation.TenSp</h3>
                                    <div class="price">
                                        @if (sp.GiaGoc < sp.GiaDagiam)
                                        {
                                            <span>@string.Format("{0:0,0}", sp.GiaDagiam) đ</span>
                                            <strong>@string.Format("{0:0,0}", sp.GiaGoc) đ </strong>
                                        }
                                        else
                                        {
                                            <strong>@string.Format("{0:0,0}", sp.GiaGoc) đ </strong>
                                        }
                                    </div>

                                    <figure class="bginfo">
                                        <span>@sp.ManHinh</span>
                                        <span>@sp.HeDieuHanh</span>
                                        <span>@sp.Chip</span>
                                        <span>@sp.Ram</span>
                                        <span>@sp.Camera</span>
                                        <span>@sp.Pin</span>
                                    </figure>

                                    @if (sp.GiaGoc < sp.GiaDagiam)
                                    {
                                        <label class="discount">
                                            GIẢM @string.Format("{0:0,0}", sp.GiaDagiam - sp.GiaGoc) đ
                                        </label>
                                    }
                                </a>
                            </li>
                        }
                    </ul>

                    <div class="pagination-container">
                        <input type="hidden" id="totalPages" value="@(pageSize)" />
                        <input type="hidden" id="key" value="@(key)" />
                        <input type="hidden" id="pageCurrent" value="@(pageCurrent)" />
                        <input type="hidden" id="sort" value="@(sort)" />
                        <ul class="pagination">
                            @for (int i = 1; i <= pageSize; i++)
                            {
                                <li class="page-item @(i == pageCurrent ? "active" : "")">
                                    <a class="page-link" href="#">@i</a>
                                </li>
                            }

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="/Content/assets/js/pagination/jquery.twbsPagination.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/addToCart_AJAX2.js" type="text/javascript"></script>

    @if (key == "")
    {
        <script type="text/javascript">
            $(function () {
                let pages = parseInt($('#page').val());
                let countPage = parseInt($('#countPages').val());
                let totalPages = parseInt((countPage / 8).toString());
                let producer = $('#producer').val().toLowerCase();
                let sort = $('#sort').val();
                $('#pagination').twbsPagination({
                    totalPages: totalPages,
                    startPage: pages,
                    visiblePages: totalPages - 1,
                    onPageClick: function (event, page) {
                        if (page !== pages) {
                            if (sort === "") {
                                return location.href = "/Home/Category?cate=" + producer + "&page=" + page;
                            } else {
                                return location.href = "/Home/Category?cate=" + producer + "&type=" + sort + "&page=" + page;
                            }
                        }
                    }
                });
                let key = $('#key').val();
                let currentPage = 1;

            });
        </script>
    }
</section>