@using System.Activities.Statements

@{
    ViewBag.Title = "S-Phones | Cửa hàng bán điện thoại uy tín hàng đầu Việt Nam";
    Layout = "~/Views/Shared/Home/_HeaderHome.cshtml";

}
<section id="body">
    <div id="banner">
        <div class="container d-flex">
            <div class="contain-slide">
                <div id="icon-pre" class="icon-flow">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </div>
                <div id="icon-next" class="icon-flow">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
                <div class="slides">
                    <div id="s1" class="slide">
                        <img src="/Content/assets/img/slider/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="/Content/assets/img/slider/2.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="/Content/assets/img/slider/3.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="/Content/assets/img/slider/4.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="/Content/assets/img/slider/5.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="news-banner">
                <div class="news-img news-bd">
                    <div class="news-img-top news-bd">
                        <a href="#">
                            <img src="/Content/assets/img/news/news-img-1.png" height="110" width="398" alt="" />
                        </a>
                    </div>
                    <div class="news-img-bot news-bd">
                        <a href="#">
                            <img src="/Content/assets/img/news/new-img-2.png" height="110" width="398" alt="" />
                        </a>
                    </div>
                    <div class="news-img-bot news-bd">
                        <a href="#">
                            <img src="/Content/assets/img/news/news-img-1.png" height="110" width="398" alt="" />
                        </a>
                    </div>
                    <div class="news-img-bot news-bd">
                        <a href="#">
                            <img src="/Content/assets/img/news/new-img-2.png" height="110" width="398" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-home container">
        <img src="/Content/assets/img/banner/1200-75-1200x75.png" alt="">
    </div>
    <div id="products">
        <div class="container">
            <div id="main-products">
                <div class="title-product">
                    <a href="#">
                        <h2>SẢN PHẨM MỚI</h2>
                    </a>
                </div>
                <div class="new-products box-shadow hover-ab">
                    <div class="autoplay slider" data-sizes="50vw">
                        @if (Model.listProduct_new != null)
                        {
                            foreach (var sp in Model.listProduct_new)
                            {
                                <div class="owl-item">
                                    <div class="item">
                                        <a href="/Home/Product_Detail?tenviettat=@sp.TenVietTat">
                                            @foreach (var hinhanh in sp.Hinhanhs)
                                            {
                                                <img src="@hinhanh.Url" alt="image" />
                                            }
                                            @if (sp.TenSp.Length < 20)
                                            {
                                                <h3 style="text-align: center">@sp.TenSp</h3>
                                            }
                                            else
                                            {
                                                <h3>@sp.TenSp</h3>
                                            }
                                            <div class="price" style="@(sp.TenSp.Length < 20 ?"text-align: center":"")">
                                                @if (sp.GiaDagiam < sp.GiaGoc)
                                                {
                                                    <span>@string.Format("{0:0,0}", sp.GiaGoc)đ</span>
                                                    <strong>@string.Format("{0:0,0}", sp.GiaDagiam)đ</strong>
                                                }
                                                else
                                                {
                                                    <strong>@string.Format("{0:0,0}", sp.GiaDagiam)đ</strong>
                                                }
                                            </div>
                                            @if (sp.GiaDagiam < sp.GiaGoc)
                                            {
                                                <label class="discount" style="margin-top: 50px">GIẢM @string.Format("{0:0,0}", sp.GiaGoc - sp.GiaDagiam)đ</label>
                                            }
                                        </a>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="title-product">
                    <a href="#">
                        <h2>SẢN PHẨM HOT</h2>
                    </a>
                </div>
                <div class="hot-products box-shadow hover-ab">
                    <div class="regular slider" data-sizes="50vw">
                        @if (Model.listProduct_hot != null)
                        {
                            foreach (var sp in Model.listProduct_hot)
                            {
                                <div>
                                    <div class="owl-item">
                                        <div class="item">
                                            <a href="/Home/Product_Detail?tenviettat=@sp.TenVietTat">
                                                @foreach (var hinhanh in sp.Hinhanhs)
                                                {
                                                    <img src="@hinhanh.Url" alt="image" />
                                                }
                                                <h3>@sp.TenSp</h3>

                                                <div class="price" style="@(sp.TenSp.Length < 20 ?"text-align: center":"")">
                                                    @if (@sp.GiaDagiam < @sp.GiaGoc)
                                                    {
                                                        <span> @string.Format("{0:0,0}", @sp.GiaGoc)đ</span>
                                                        <strong>
                                                            @string.Format("{0:0,0}", @sp.GiaDagiam)đ
                                                        </strong>
                                                    }
                                                    else
                                                    {
                                                        <strong> @string.Format("{0:0,0}", @sp.GiaDagiam)đ</strong>
                                                    }
                                                </div>
                                                @if (@sp.GiaDagiam < @sp.GiaGoc)
                                                {
                                                    <label class="discount" style="margin-top: 50px">GIẢM @string.Format("{0:0,0}", @sp.GiaGoc - sp.GiaDagiam)đ</label>
                                                }

                                            </a>
                                        </div>
                                    </div>

                                    <div class="owl-item">
                                        <div class="item">
                                            <a href="/Home/Product_Detail?tenviettat=@sp.TenVietTat">
                                                @foreach (var hinhanh in sp.Hinhanhs)
                                                {
                                                    <img src="@hinhanh.Url" alt="image" />
                                                }
                                                <h3>@sp.TenSp</h3>

                                                <div class="price" style="@(sp.TenSp.Length < 20 ?"text-align: center":"")">
                                                    @if (@sp.GiaDagiam < @sp.GiaGoc)
                                                    {
                                                        <span>@string.Format("{0:0,0}", @sp.GiaGoc)đ</span>
                                                        <strong>@string.Format("{0:0,0}", @sp.GiaDagiam) đ</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong>@string.Format("{0:0,0}", @sp.GiaDagiam) đ</strong>
                                                    }

                                                </div>
                                                @if (@sp.GiaDagiam < @sp.GiaGoc)
                                                {
                                                    <label class="discount" style="margin-top: 50px">GIẢM @string.Format("{0:0,0}", @sp.GiaGoc - @sp.GiaDagiam)đ</label>
                                                }
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="title-product">
                    <a href="#">
                        <h2>SẢN PHẨM KHUYẾN MẠI</h2>
                    </a>
                </div>
                <div class="sale-products box-shadow hover-ab">
                    <div class="regular slider" data-sizes="50vw">
                        @if (Model.listProduct_sale != null)
                        {
                            foreach (var sp in Model.listProduct_sale)
                            {
                                <div>
                                    <div class="owl-item">
                                        <div class="item">
                                            <a href="/Home/Product_Detail?tenviettat=@sp.TenVietTat">
                                                @foreach (var hinhanh in sp.Hinhanhs)
                                                {
                                                    <img src="@hinhanh.Url" alt="image" />
                                                }
                                                <h3>@sp.TenSp</h3>

                                                <div class="price" style="@(sp.TenSp.Length < 20 ?"text-align: center":"")">
                                                    @if (@sp.GiaDagiam < @sp.GiaGoc)
                                                    {
                                                        <span> @string.Format("{0:0,0}", @sp.GiaGoc)đ</span>
                                                        <strong>
                                                            @string.Format("{0:0,0}", @sp.GiaDagiam)đ
                                                        </strong>
                                                    }
                                                    else
                                                    {
                                                        <strong> @string.Format("{0:0,0}", @sp.GiaDagiam)đ</strong>
                                                    }
                                                </div>
                                                @if (@sp.GiaDagiam < @sp.GiaGoc)
                                                {
                                                    <label class="discount" style="margin-top: 50px">GIẢM @string.Format("{0:0,0}", @sp.GiaGoc - @sp.GiaDagiam)đ</label>
                                                }

                                            </a>
                                        </div>
                                    </div>

                                    <div class="owl-item">
                                        <div class="item">
                                            <a href="/Home/Product_Detail?tenviettat=@sp.TenVietTat">
                                                @foreach (var hinhanh in sp.Hinhanhs)
                                                {
                                                    <img src="@hinhanh.Url" alt="image" />
                                                }
                                                <h3>@sp.TenSp</h3>

                                                <div class="price" style="@(sp.TenSp.Length < 20 ?"text-align: center":"")">
                                                    @if (@sp.GiaDagiam < @sp.GiaGoc)
                                                    {
                                                        <span>@string.Format("{0:0,0}", @sp.GiaGoc)đ</span>
                                                        <strong>@string.Format("{0:0,0}", @sp.GiaDagiam) đ</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong>@string.Format("{0:0,0}", @sp.GiaDagiam) đ</strong>
                                                    }

                                                </div>
                                                @if (@sp.GiaDagiam < @sp.GiaGoc)
                                                {
                                                    <label class="discount" style="margin-top: 50px">GIẢM @string.Format("{0:0,0}", @sp.GiaGoc - @sp.GiaDagiam)đ</label>
                                                }
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        <div>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--back-to-top-->
<div class='back-to-top'>
    <div>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
</div>
@* <!--back-to-top--> *@
@* <!--js--page--> *@
<link rel="stylesheet" href="/Content/assets/libs/slick/slick.css">
<link rel="stylesheet" href="/Content/assets/libs/slick/slick-theme.css">
<script src="/Content/assets/js/slides-banner.js"></script>
<script src="/Content/assets/libs/slick/slick-types.js"></script>
<script src="/Content/assets/libs/slick/slick.js"></script>
<!--js page-->
<!--js--end-->