@using Web2023Project.Models

@{
    @ViewBag.Title
    Layout = "~/Views/Shared/Admin/_FramesFull.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-bar page-header">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/Admin/Index_Admin">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="/Revenue/Revenue">Doanh thu</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-money"></i>
                        Doanh Thu
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        @RenderPage("~/Views/Shared/Admin/_Dialog.cshtml")
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên khách hàng</th>
                                        <th>Số điện thoại</th>
                                        <th>Ngày thanh toán</th>
                                        <th>Số tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{double? total = 0; }
                                    @try
                                    {

                                        if (@Model != null)
                                        {
                                            int count = 0;

                                            foreach (Donhang cart in Model)
                                            {
                                                if (cart.Trangthai == 2)
                                                {
                                                    count++;
                                                    total += cart.Tongtien;
                                                    <tr class="odd gradeX">
                                                        <td>@count</td>
                                                        @*<td>@((cart.IdNdNavigation.Ten != null) ? cart.IdNdNavigation.Ten : "") </td>
                                                            <td>@((cart.IdNdNavigation.Sdt != null) ? cart.IdNdNavigation.Sdt : "")</td>
                                                            <td>@((cart.Ngaythanhtoan != null) ? cart.Ngaythanhtoan.Value.ToString() : "")</td>*@
                                                        <td>Tên</td>
                                                        <td>Số điện thoại</td>
                                                        <td>Ngày thanh toán</td>
                                                        <td>
                                                            @String.Format("{0:0,0}", cart.Tongtien)đ
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                    catch (Exception e)
                                    {
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <span class="dia-revenue" style=" float: right; font-size: 20px; font-weight: 600;">
                    TỔNG DOANH THU:<strong style="color:#d10000">
                        @String.Format("{0:0,0}", total)đ
                    </strong>
                </span>
            </div>
        </div>
    </div>
</div>